<% lista.forEach(pergunta=> { %>
    <li class="bloco">
        <a href="/pergunta/<%= pergunta.id %>">   
              <h3 class="titulo"><%= pergunta.titulo %></h3>
        </a>

        <% if(pergunta.descricao.length < 120) { %>
            <p class="descricao"><%= pergunta.descricao %></p>
            <%} else { %>
                <p class="descricao">
                    <%= pergunta.descricao.substring(0, 120) %>...
                </p>
         <%}%>

        <div class="data-nome">
            <span class="nome">Postado por  
                <% if(pergunta.autor) { %>
                    <span class="autor">
                        <%= pergunta.autor %>
                    </span>
                    <%} else { %>
                        <span class="autor">Anônimo</span>
                    <%}%>
            </span>

            <span class="data">
                <%= pergunta.createdAt.toISOString().slice(0,
                    10).replaceAll('-', '/' ).split("/").reverse().join("/") %>
            </span>
        </div>

        <div class="cta">
            <a href="/pergunta/<%= pergunta.id %>" class="responder">
                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.7 3.2H14.1V10.4H3.7V12C3.7 12.44 4.06 12.8 4.5 12.8H13.3L16.5 16V4C16.5 3.56 16.14 3.2 15.7 3.2ZM12.5 8V0.8C12.5 0.36 12.14 0 11.7 0H1.3C0.86 0 0.5 0.36 0.5 0.8V12L3.7 8.8H11.7C12.14 8.8 12.5 8.44 12.5 8Z" fill="#7A60E1"/>
                    </svg>
                Responder
            </a>
            <% 
                const filtrado = respostas.filter(obj => {
                    return obj.perguntaId === pergunta.id
                })
            %>
            <span class="respostas"><%= filtrado.length %> respostas</span>
        </div>
    </li>
    <% }) %>