<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/global.min.css"> -->
    <link rel="stylesheet" href="/css/index.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Asky</title>
</head>

<body>
    <%- include ('components/header.ejs') %>

        <main>
            <div class="container">
                <div class="main">
                    <span>Faça sua pergunta</span>
                    <h1>Ideias são alcançadas com dúvidas</h1>
                    <p>E dúvidas são solucionadas com perguntas. Realize sua meta com a mente esclarecida.</p>
                    <a href="/perguntar" class="btn-azul">Faça uma pergunta</a>
                </div>
                <div class="main-image">
                    <img src="/img/main.png" alt="">
                </div>
            </div>
            <section class="banner">
                <div class="container">
                    <div>
                        <p>
                            <svg width="88" height="36" viewBox="0 0 88 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="70" cy="18" r="18" fill="#E0E8F0"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M70 33.75C78.6985 33.75 85.75 26.6985 85.75 18C85.75 9.30152 78.6985 2.25 70 2.25C61.3015 2.25 54.25 9.30152 54.25 18C54.25 26.6985 61.3015 33.75 70 33.75ZM67.179 7.83577L66.2611 6H77.2758L76.3579 7.83577H67.179ZM67.179 11.0484V8.75365H76.3579V11.0484C76.3579 11.0484 76.3579 16.0967 71.7685 16.0967C67.179 16.0967 67.179 11.0484 67.179 11.0484ZM58.5183 12.0387C58.857 11.6897 59.3203 11.4893 59.8066 11.4816C60.0523 11.4777 60.2963 11.5231 60.5241 11.6152C60.752 11.7073 60.959 11.8442 61.1329 12.0178C61.3069 12.1914 61.4442 12.3981 61.5367 12.6258C61.6293 12.8534 61.6752 13.0974 61.6717 13.3431V18.3988L68.0969 17.0146H75.3317C75.6044 17.0194 75.8751 17.0627 76.1357 17.1431L65.3433 29.865V21.3415L60.2343 22.4797C59.9658 22.5394 59.6874 22.538 59.4195 22.4756C59.1516 22.4132 58.9012 22.2914 58.6867 22.1192C58.4722 21.947 58.2992 21.7289 58.1804 21.4808C58.0615 21.2328 58 20.9612 58.0002 20.6862V13.3431C57.9933 12.8568 58.1797 12.3877 58.5183 12.0387ZM67.9354 29.865L77.731 18.3198C78.0211 18.7678 78.1936 19.3001 78.1936 19.8766V29.865H67.9354Z" fill="#002248"/>
                                <circle cx="44" cy="18" r="18" fill="#E0E8F0"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M43.75 33.5C52.4485 33.5 59.5 26.4485 59.5 17.75C59.5 9.05152 52.4485 2 43.75 2C35.0515 2 28 9.05152 28 17.75C28 26.4485 35.0515 33.5 43.75 33.5ZM34.75 26.8273V29.0773H52.75V26.8273C52.75 24.3523 48.7 22.3273 43.75 22.3273C38.8 22.3273 34.75 24.3523 34.75 26.8273ZM48.25 15.5773V14.4523H39.25V15.5773C39.25 18.0523 41.275 20.0773 43.75 20.0773C46.225 20.0773 48.25 18.0523 48.25 15.5773ZM50.5 9.95234C50.5 9.27734 50.95 8.82734 51.625 8.82734C52.3 8.82734 52.75 9.38984 52.75 9.95234V11.0773C52.75 12.3148 51.7375 13.3273 50.5 13.3273H37C35.7625 13.3273 34.75 12.3148 34.75 11.0773V9.95234C34.75 9.27734 35.2 8.82734 35.875 8.82734C36.55 8.82734 37 9.27734 37 9.95234V11.0773H38.6875L40.2625 7.70234C40.375 7.47734 40.4875 7.25234 40.7125 7.02734C41.275 6.46484 42.175 6.35234 42.9625 6.68984L43.75 7.02734L44.5375 6.80234C45.325 6.46484 46.225 6.57734 46.7875 7.13984C47.0125 7.25234 47.125 7.47734 47.2375 7.70234L48.8125 11.0773H50.5V9.95234Z" fill="#002248"/>
                                <circle cx="18" cy="18" r="18" fill="#E0E8F0"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.25 33.5C26.9485 33.5 34 26.4485 34 17.75C34 9.05152 26.9485 2 18.25 2C9.55152 2 2.5 9.05152 2.5 17.75C2.5 26.4485 9.55152 33.5 18.25 33.5ZM11.0662 27.0846H12.883V28.9014H11.0662V27.0846ZM11.0023 12.7004H12.8191V10.8836H9.18547V14.5172H11.0023V12.7004ZM12.8191 7.25H11.0023V9.06679H12.8191V7.25ZM25.4924 14.5172H27.3092V10.8836H23.6756V12.7004H25.4924V14.5172ZM25.4924 7.25H23.6756V9.06679H25.4924V7.25ZM29.1207 12.6951V18.0748H25.5014V16.2792H23.7132V14.4845H21.8809V10.8509H20.0641V14.4845H16.4305V10.8509H14.6137V14.4845H12.797V16.2792H11.0023V18.0748H7.37929V12.7004H5.5625V18.0854H7.3615V19.8916H11.0023V25.2889H12.883V27.0845H16.44V25.2889H20.1024V27.0845H23.6594V25.2889H25.5014V19.8916H29.126V18.0801H30.9375V12.6951H29.1207ZM23.6756 28.9013H25.4924V27.0845H23.6756V28.9013ZM16.395 21.6542H12.7969V18.0857H16.395V21.6542ZM23.713 18.0857H20.1347V21.6542H23.713V18.0857Z" fill="#002248"/>
                            </svg>
                            junte-se a outros usuários!
                        </p>
                        <p class="contagem"><span class="banner-text">
                                <% if(perguntas.length < 10) { %>
                                    0<%= perguntas.length %>
                                        <% } else { %>
                                            <%= perguntas.length %>
                                                <%} %>
                            </span><span>perguntas interessantes</span></p>
                    </div>
                </div>
            </section>
        </main>

        <section class="lista-perguntas">
            <div class="container">
                <h2 class="titulo t-section">Últimas perguntas</h2>

                <ul>
                    <% if(perguntas.length <= 6) { %>
                        <%- include ('components/listing.ejs', {lista: perguntas}) %>
                    <% } else { %>
                        <% const filtro = perguntas.slice(0, 6) %>
                        <%- include ('components/listing.ejs', {lista: filtro}) %>
                    <%} %>
                </ul>

                <% if(perguntas.length >= 6) { %>
                    <a href="/todas-as-perguntas" class="btn-azul">Ver todas as perguntas</a>
                <% } %>
            </div>
        </section>

        <footer>
            <div class="container">
                <svg width="117" height="40" viewBox="0 0 117 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M38.6983 29.8094C39.5318 28.9759 40 27.8454 40 26.6667V4.44445C40 3.2657 39.5318 2.13524 38.6983 1.30175C37.8648 0.468252 36.7343 0 35.5556 0H4.44445C3.2657 0 2.13524 0.468252 1.30175 1.30175C0.468252 2.13524 0 3.2657 0 4.44445V40L8.88889 31.1111H11.5561V31.0775C13.7844 31.0775 15.4819 30.7683 16.6486 30.15C17.8083 29.5469 18.6684 28.2636 19.2286 26.3H16.2986L10.3311 5.5625H15.4761L20.0233 22.3717L24.5236 5.5625H29.6686L23.7886 26.3C23.209 28.325 22.4297 29.9287 21.4507 31.1111H35.5556C36.7343 31.1111 37.8648 30.6429 38.6983 29.8094Z"
                        fill="url(#paint0_linear_77_159)" />
                    <g id="preto">
                        <path
                            d="M48 27.7349H52.116L53.544 22.8629H60.418L61.86 27.7349H65.962L59.802 8.82088H54.16L48 27.7349ZM54.216 20.2309L56.974 11.1449H57.016L59.774 20.2309H54.216Z"
                            fill="#000B18" />
                        <path
                            d="M75.6561 27.8609C78.0361 27.8609 79.8561 27.4782 81.1161 26.7129C82.3761 25.9382 83.0061 24.6922 83.0061 22.9749C83.0061 21.3042 82.4041 20.1422 81.2001 19.4889C79.9961 18.8355 78.5028 18.3595 76.7201 18.0609C75.2735 17.7902 74.0881 17.5195 73.1641 17.2489C72.2401 16.9782 71.7781 16.4369 71.7781 15.6249C71.7781 14.9902 72.0441 14.4909 72.5761 14.1269C73.1175 13.7535 73.9435 13.5669 75.0541 13.5669C76.2301 13.5669 77.1868 13.8422 77.9241 14.3929C78.6708 14.9435 79.1421 15.7229 79.3381 16.7309L82.7961 15.4989C82.4508 13.8749 81.6201 12.7222 80.3041 12.0409C78.9881 11.3502 77.2568 11.0049 75.1101 11.0049C72.9261 11.0049 71.1761 11.3875 69.8601 12.1529C68.5535 12.9182 67.9001 14.0802 67.9001 15.6389C67.9001 17.2815 68.4555 18.4622 69.5661 19.1809C70.6768 19.8995 72.1375 20.4175 73.9481 20.7349C75.4415 21.0149 76.6735 21.2902 77.6441 21.5609C78.6241 21.8316 79.1141 22.4009 79.1141 23.2689C79.1141 23.8849 78.8201 24.3796 78.2321 24.7529C77.6535 25.1169 76.8135 25.2989 75.7121 25.2989C74.4615 25.2989 73.4488 25.0329 72.6741 24.5009C71.8995 23.9596 71.4188 23.1242 71.2321 21.9949L67.7741 23.2409C68.1475 24.9489 69.0295 26.1482 70.4201 26.8389C71.8108 27.5202 73.5561 27.8609 75.6561 27.8609Z"
                            fill="#000B18" />
                        <path
                            d="M85.4988 27.7349H89.4328V20.8469L89.1948 22.6809L92.6248 19.1249L91.7848 19.2229L96.0548 27.7349H100.255L94.5848 16.9829L94.3468 17.6409L100.045 11.1309H95.4528L88.5928 18.5509L89.4328 19.0689V5.75488H85.4988V27.7349Z"
                            fill="#000B18" />
                        <path
                            d="M106.262 27.7349H112.254L116.958 11.1449H112.842L108.824 26.1529H109.664L105.604 11.1449H101.488L106.262 27.7349ZM102.468 34.2449C105.035 34.2449 107.116 33.8202 108.712 32.9709C110.317 32.1216 111.498 30.3762 112.254 27.7349L108.614 27.7069C108.166 29.2936 107.475 30.3296 106.542 30.8149C105.609 31.3096 104.251 31.5569 102.468 31.5569V34.2449Z"
                            fill="#000B18" />
                    </g>
                    <defs>
                        <linearGradient id="paint0_linear_77_159" x1="40" y1="-11" x2="12.5" y2="37"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#0070F0" />
                            <stop offset="1" stop-color="#7A60E1" />
                        </linearGradient>
                    </defs>
                </svg>
                <p>2022 &copy;</p>
            </div>
            <button id="backtop"><span>back to top</span></button>
        </footer>
        <div class="credits">
            <div class="container">
                <span>Feito por <a href="http://https://github.com/oliverids" target="_blank" rel="noopener noreferrer" class="titulo">Isabela Oliveira</a>. Illustration by <a class="titulo" href="https://icons8.com/illustrations/author/zD2oqC8lLBBA" target="_blank" rel="noopener noreferrer">Icons 8</a> from <a class="titulo" href="https://icons8.com/illustrations" target="_blank" rel="noopener noreferrer">Ouch!</a></span>
            </div>
        </div>
        </body>
        <script src="/js/script.js"></script>
        
        </html>